# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
dist/
.env
.env.*.local

# VSCode settings (opcional, se estiver usando VSCode)
.vscode/

# Yarn cache
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Testing
coverage/

# macOS / Linux / Windows arquivos ocultos
.DS_Store
Thumbs.db

# Arquivos sensíveis (recomendado manter fora do git)
*.local
firebase-debug.log
firebase-debug.*